numpy==1.24.2
gradio==3.44.2
opencv-python==4.8.0.76
onnx==1.14.1
psutil==5.9.5
pillow==10.0.1
torch
torchvision
protobuf==4.23.2
tqdm==4.66.1
ftfy
regex
pyvirtualcam
pytest
onnx2torch
scikit-image
facexlib